{% extends 'main.html' %}
{% load static %}

{% block content %}

<main class="profile-page layout layout--2" xmlns="http://www.w3.org/1999/html">
    <div class="container">
      <!-- Room Start -->
      <div class="room">
        <div class="room__top">
          <div class="room__topLeft">
            <a href="{% url 'home' %}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                  d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
                ></path>
              </svg>
            </a>
            <h3>Study Room</h3>
          </div>
          
          <div class="room__topRight">
            <div id="favourite-section" style="display: flex;">
                <form action="{% url 'favorite-post' room.id %}" method='POST' style="padding-right: 20px">
                    {% csrf_token %}
                 <button  class="room__favourite__btn" style="background: transparent; outline: none; border: none;">
                       <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M512,304.021c0-12.821-5.099-24.768-13.867-33.6c9.963-10.901,15.019-25.536,13.632-40.725
			c-2.475-27.115-26.923-48.363-55.616-48.363H324.395c6.485-19.819,16.939-56.149,16.939-85.333c0-46.272-39.317-85.333-64-85.333
			c-22.165,0-38.016,12.459-38.677,12.992c-2.539,2.048-3.989,5.099-3.989,8.341v72.32l-61.44,133.141l-2.56,1.28v-4.075
			c0-5.888-4.779-10.667-10.667-10.667H53.333C23.936,224,0,247.936,0,277.333V448c0,29.397,23.936,53.333,53.333,53.333h64
			c23.083,0,42.773-14.72,50.219-35.243c17.749,9.131,41.643,13.931,56.469,13.931H419.84c23.232,0,43.541-15.68,48.32-37.269
			c2.453-11.115,1.024-22.315-3.84-32.043c15.744-7.936,26.347-24.171,26.347-42.688c0-7.552-1.728-14.784-5.013-21.333
			C501.397,338.752,512,322.517,512,304.021z M149.333,448c0,17.643-14.379,32-32,32h-64c-17.664,0-32-14.357-32-32V277.333
			c0-17.643,14.357-32,32-32v0.107h95.957v10.667c0,0.064,0.043,0.107,0.043,0.171V448z M466.987,330.368
			c-4.117,0.469-7.595,3.264-8.896,7.211c-1.301,3.925-0.235,8.277,2.795,11.115c5.44,5.141,8.427,12.011,8.427,19.349
			c0,13.44-10.155,24.768-23.637,26.304c-4.117,0.469-7.595,3.264-8.896,7.211c-1.301,3.925-0.235,8.277,2.795,11.115
			c7.04,6.635,9.856,15.936,7.744,25.472c-2.624,11.883-14.187,20.523-27.499,20.523H224c-15.851,0-41.365-6.848-53.333-15.744
			V262.656l15.381-7.68c2.155-1.088,3.883-2.88,4.907-5.077l64-138.667c0.64-1.387,0.981-2.923,0.981-4.459V37.909
			c4.437-2.453,12.139-5.803,21.333-5.803c11.691,0,42.667,29.077,42.667,64c0,37.525-20.416,91.669-20.629,92.203
			c-1.237,3.264-0.811,6.955,1.195,9.835c2.005,2.88,5.269,4.608,8.789,4.608h146.795c17.792,0,32.896,12.715,34.389,28.971
			c1.131,12.16-4.672,23.723-15.168,30.187c-3.285,2.005-5.205,5.653-5.056,9.493c0.128,3.84,2.347,7.296,5.781,9.067
			c9.003,4.608,14.592,13.653,14.592,23.595C490.603,317.504,480.448,328.832,466.987,330.368z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                    </button>
                </form>
                {% if user.favourite == user.id %}
                <form action="{% url 'delfapost' room.id %}">
                    {% csrf_token %}
                 <button  class="room__favourite__btn" style="background: transparent; outline: none; border: none;">
                       <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 492.308 492.308" style="enable-background:new 0 0 492.308 492.308;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M363.731,32.481v53.418h-44.664l-98.096-29.034L59.942,56.462c-23.048,0-41.808,18.755-41.808,41.812
                                    c0,10.406,3.96,19.816,10.273,27.141c-13.227,7.028-22.359,20.788-22.359,36.782c0,12.89,5.987,24.29,15.185,31.966
                                    c-9.197,7.675-15.185,19.075-15.185,31.962c0,11.483,4.662,21.892,12.18,29.456C7.239,263.121,0,275.749,0,290.053
                                    c0,23.058,18.76,41.813,41.808,41.813l114.904,0.063c-10.51,28.942-12.99,58.5-13.067,79.452
                                    c-0.048,12.899,4.961,25.053,14.096,34.221c9.135,9.173,21.279,14.226,34.192,14.226c26.615,0,48.269-21.654,48.269-48.269v-3.457
                                    c12.644-81.447,82.048-103.827,91.933-106.615h31.596v31.317h128.577V32.481H363.731z M363.731,281.793h-32.894l-2.365,0.289
                                    c-0.923,0.226-92.837,24.043-107.856,123.803l-0.106,5.673c0,15.76-12.817,28.577-28.577,28.577
                                    c-7.635,0-14.827-2.995-20.24-8.433c-5.413-5.433-8.385-12.625-8.356-20.255c0.077-22.375,3.087-55.317,17-85.202l6.519-13.99
                                    l-145.038-0.082c-12.202,0-22.125-9.923-22.125-22.12c0-12.192,9.923-22.115,22.125-22.115h6.038h44.933v-19.692H47.856
                                    c-12.192,0-22.115-9.923-22.115-22.12c0-12.192,9.923-22.115,22.115-22.115h55.01h6.048v-19.692h-6.048h-55.01
                                    c-12.192,0-22.115-9.923-22.115-22.12c0-12.192,9.923-22.115,22.115-22.115h12.087h40.913v-19.692H59.942
                                    c-12.192,0-22.115-9.923-22.115-22.115c0-12.197,9.923-22.12,22.115-22.12H216.75l98.096,29.034l48.885,0.336V281.793z
                                     M472.615,313.111h-89.192V52.173h89.192V313.111z"/>
                            </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        </svg>
                    </button>
                </form>
                {% endif %}
            </div>
            {% if room.host == request.user %}
            <a href="{% url 'update-room' room.id %}">
              <svg
                enable-background="new 0 0 24 24"
                height="32"
                viewBox="0 0 24 24"
                width="32"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>edit</title>
                <g>
                  <path d="m23.5 22h-15c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h15c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                </g>
                <g>
                  <g>
                    <path
                      d="m2.5 22c-.131 0-.259-.052-.354-.146-.123-.123-.173-.3-.133-.468l1.09-4.625c.021-.09.067-.173.133-.239l14.143-14.143c.565-.566 1.554-.566 2.121 0l2.121 2.121c.283.283.439.66.439 1.061s-.156.778-.439 1.061l-14.142 14.141c-.065.066-.148.112-.239.133l-4.625 1.09c-.038.01-.077.014-.115.014zm1.544-4.873-.872 3.7 3.7-.872 14.042-14.041c.095-.095.146-.22.146-.354 0-.133-.052-.259-.146-.354l-2.121-2.121c-.19-.189-.518-.189-.707 0zm3.081 3.283h.01z"
                    />
                  </g>
                  <g>
                    <path
                      d="m17.889 10.146c-.128 0-.256-.049-.354-.146l-3.535-3.536c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.536 3.536c.195.195.195.512 0 .707-.098.098-.226.146-.354.146z"
                    />
                  </g>
                </g>
              </svg>
            </a>
            <a href="{% url 'delete-room' room.id %}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>remove</title>
                <path
                  d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                ></path>
              </svg>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="room__box scroll">
          <div class="room__header scroll">
            <div class="room__info">
              <h3>{{room.name}}</h3>
              <span>{{room.created}}</span>
            </div>
            <div class="room__hosted">
              <p>Hosted By</p>
              <a href="{% url 'user-profile' room.host.id %}" class="room__author">
                <div class="avatar avatar--small">
                  <img src="{{room.host.avatar.url}}" />
                </div>
                <span>@{{room.host.username}}</span>
              </a>
            </div>
            <div class="room__details">
              {{room.description}}
            </div>
            <span class="room__topics">{{room.topic}}</span>
          </div>
          <div class="room__conversation">
            <div class="threads scroll">
              {% for message in room_messages %}
              <div class="thread">
                <div class="thread__top">
                  <div class="thread__author">
                    <a href="{% url 'user-profile' message.user.id %}" class="thread__authorInfo">
                      <div class="avatar avatar--small">
                        <img src="{{message.user.avatar.url}}" />
                      </div>
                      <span>{{message.user.username}}</span>
                    </a>
                    <span class="thread__date">{{message.created|timesince}} ago</span>
                  </div>
                   {% if request.user == message.user %}
                  <a href="{% url 'delete-message' message.id %}">
                  <div class="thread__delete">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                      <title>remove</title>
                      <path
                        d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                      ></path>
                    </svg>
                  </div>
                  </a>
                  {% endif %}
                </div>
                <div class="thread__details">
                  {{message.body}}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="room__message">
          <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="body" placeholder="Write your message here..." />
          </form>
        </div>
        {% endif %}
      </div>
      <!-- Room End -->

      <!--   Start -->
      <div class="participants">
        <h3 class="participants__top">Participants <span>({{participants.count}} Joined)</span></h3>
        <div class="participants__list scroll">
          {% for user in participants %}
          <a href="{% url 'user-profile' user.id %}" class="participant">
            <div class="avatar avatar--medium">
              <img src="{{user.avatar.url}}" />
            </div>
            <p>
              {{user.username}}
              <span>@{{user.username}}</span>
            </p>
          </a>
          {% endfor %}
        </div>
      </div>
      <!--  End -->
    </div>
  </main>
{% endblock content %}